body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222; /* Темный фон */
    margin: 0;
}

canvas {
    border: 5px solid #FFD700; /* Золотая рамка */
    background-color: #000; /* Черный фон */
    width: 80%; /* Занимает 80% ширины */
    height: 300px; /* Фиксированная высота */
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 600px) {
    canvas {
        width: 90%; /* Уменьшение ширины для мобильных устройств */
        height: 250px; /* Уменьшение высоты для мобильных устройств */
    }
}